In [90]:
import pandas as pd
import numpy as np
import inspect

In [86]:
df_1 = pd.read_csv('dst-3.0_16_1_hh_database.csv', sep=';')

In [144]:
df_1['Обновление резюме'].max()

'31.10.2018 15:30'

In [152]:
df_0 = df_1.iloc[[i for i in range(len(df_1)) if i%10 != 9]]

In [153]:
max_value = df_0['Обновление резюме'].max()
df_0 = df_0.loc[df_0['Обновление резюме'] != max_value]
df_0['Обновление резюме'].max()

'31.10.2018 14:58'

In [5]:
df_0.describe()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
count,40270,40270,40270,40270,40270,40270,40113,40269,40268,40270,40270,40270
unique,15348,651,13690,9471,37,47,39978,27698,15631,36543,17670,2
top,"Мужчина , 32 года , родился 17 сентября 1986",50000 руб.,Системный администратор,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,Индивидуальное предпринимательство / частная п...,Системный администратор,Высшее образование 1987 Военный инженерный Кра...,07.05.2019 09:50,Не указано
freq,16,3660,2754,1144,27056,20429,3,840,1865,4,24,29069

In [88]:
df_1.describe()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
count,44744,44744,44744,44744,44744,44744,44576,44743,44742,44744,44744,44744
unique,16003,690,14929,10063,38,47,44413,30214,16927,40148,18838,2
top,"Мужчина , 32 года , родился 17 сентября 1986",50000 руб.,Системный администратор,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,Индивидуальное предпринимательство / частная п...,Системный администратор,Высшее образование 1987 Военный инженерный Кра...,07.05.2019 09:50,Не указано
freq,18,4064,3099,1261,30026,22727,3,935,2062,4,25,32268

In [89]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [143]:
df_1.iloc[0][0]

'Мужчина ,  39 лет , родился 27 ноября 1979'

In [154]:
def metrics(df, name):    
    #кол-во столбцов?
    count_columns_1 = len(df.columns)
    
    #кол-во строк
    count_rows_1 = df.shape[0]
    
    #доля дубликатов
    count_duplicates = df.duplicated().sum()
    part_duplicates = count_duplicates / count_rows_1 
    
    #доля пустых полей
    count_null = df.isnull().sum().sum()
    part_null = count_null / count_columns_1 / count_rows_1
    
    #кол-во категорий
    sum_categ = 0
    for i in range(len(df.columns)):
        if df.describe().iloc[1, i] < 100:
            sum_categ += df.describe().iloc[1, i]
    sum_categ
    
    dt_max = df['Обновление резюме'].max()
    
    dict_metrics = {'выгрузка':name,'кол-во столбцов?':count_columns_1, 'кол-во строк':count_rows_1,'Актуальная дата':dt_max,'доля дубликатов':part_duplicates,'доля пустых полей':part_null,'кол-во категорий': sum_categ}
    
    return dict_metrics

In [155]:
columns = ['выгрузка','кол-во столбцов?', 'кол-во строк', 'Актуальная дата', 'доля дубликатов','доля пустых полей','кол-во категорий']
df_metrics = pd.DataFrame(columns=columns)

In [156]:
name_0 = 'df_0'
name_1 = 'df_1'
df_metrics = pd.concat([df_metrics,pd.DataFrame([metrics(df_0,name_0)]),pd.DataFrame([metrics(df_1,name_1)])],ignore_index=True)

In [157]:
df_metrics

,выгрузка,кол-во столбцов?,кол-во строк,Актуальная дата,доля дубликатов,доля пустых полей,кол-во категорий
0,df_0,12,40269,31.10.2018 14:58,0.003203,0.000331,86
1,df_1,12,44744,31.10.2018 15:30,0.003419,0.000318,87